@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro");

html,
body {
  position: relative;
  min-height: 100%;
  height: 100%;
  margin: 0;
  line-height: 1.65;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 16px;
  font-weight: 400;
  min-width: 320px;
  direction: ltr;
  font-feature-settings: "kern";
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;
}

*,
*:before,
*:after {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
a {
  color: #0074de;
  -webkit-text-decoration: none;
  -webkit-transition: color 0.2s ease;
  text-decoration: none;
  transition: color 0.2s ease;
}
p {
  line-height: 1.8;
  margin-bottom: 1.5rem;
}
img[src$="centerme"] {
  display:block;
  margin: 0 auto;
}
